	<div class="edit">
	<% form_for(@task, :remote => true) do |f| %>
		<%= f.error_messages %>
		<div class="field">
			<%= select :task, :category_id, @categories.map {|c| [c.label, c.id]} %>
		</div>
		<div class="field">
			<%= f.label :description %>
			<%= f.text_area :description, :rows => 5, :cols => 50 %>
		</div>
		<div class="field percentcomplete">
			<%= f.label "Percent Complete" %>
			<%= f.text_field :percentcomplete, :maxlength => 3 %>
		</div>
		<div class="actions">
			<%= f.submit "Create Task", :class => "button pill" %>
		</div>
	<% end %>
	</div>