<div id="normal_body">
	<h3 style="text-align: center;">Edit User Settings</h3>

<% form_for(@user) do |f| %>
	<%= f.error_messages %>
	<div class="field">
		<%= f.label "Email (This is your login name and cannot be changed)" %><br />
		<%= f.label @user.email %>
	</div>
	<br />
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<br />
	<div class="field">
		<%= f.label 'Enable Percent Complete field for Tasks and Goals?' %><br />
		<%= f.check_box :percentcompleteenabled %>
	</div>
	<br />
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Confirmation" %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="actions">
		<%= f.submit "Edit User Details", :class => "button pill" %>
	</div>

<% end %>
</div>
